<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.sh.cjvision.privacy_policy">

    <application>
        <activity
            android:name=".PrivacyPolicyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.privacy" />
    </application>

</manifest>